@charset "utf-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

    text-align: center;
}

body {
    background-image: url('../image/1.jpg');
    background-position: middle center;
    background-size: cover;
    background-repeat: no-repeat;
    display: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    text-align: center;

}

#logo {
    position: absolute;
    left: 0;
    top: 0;

    width: 100px;
    height: 100px;
    background: skyblue;
    font-size: 60px;
}

#gnb {
    position: absolute;
    top: 0;
    right: 0;

    width: 150px;
    height: 30px;
    background:  pink;
    z-index: 999999;
}



#header {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
    min-width: 100%;
    width: 100%;
    height: 100px;
    background: hotpink;
    display: inline-block;
}

.BB_A {
    font-size: 25px;
    background-color: pink;
}

#menu {
    position: relative;

    height: 50%;
    width: 50%;
    font-size: 50px;
    text-align: left;
    vertical-align: middle;
}

#menu>span {
    display: block;
    width: 33%;
    background: #ffffff;
    border: 3px solid black;
    float: left;
    padding: 50px;
    font-size: 20px;
}

.box_b {
    text-align: center;
    color: white;
}



.box_a {
    position: inline-block;
    width: 250px;
    height: 350px;
    
    float: left;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 70%;

    border: 3px dashed black;
    
    background-attachment: local;
    animation-name: big;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    font-size: 25px;


    
}


div[ove="bt"]:hover {
    background: white !important;
    cursor: pointer;
}

#box_a:hover {
    background:url('image\2.jpg') no-repeat;
}


#footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background: gray;
    /*border-radius: 20px;*/
    border: 3px groove white;
    float: right;


}

#baro_a {
    position: absolute;
    font-size: 25px;
    font-style: bold;
    }

#f_logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    bottom: 0px;
    background: pink;
}

#copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 40px;
    background: white;
    border: 3px inset black;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

li {
    margin: 0 auto;
    padding: 0 auto;
    border: 0;
    float: left;
    list-style: none;
}

.foot_ab {
    font-size: 150%;
}


#fix_top {
    position: fixed;
    right: 10px;
    top: 50px;
    width: 120px;
    height: 30px;
    text-align: center;
    background: red;
    border-radius: 20px;
    font-size: 20px;
}

#a_aa {
    float: right;
    width: 100px;
    top: 20px;
    position: fixed;
    height: 20px;
}
